<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>

<h1>Author</h1>

<a href="/">Home</a>
<a href="/author">Author</a>

<p>
    This Web Site has been created by me.
</p>

<img src="/images/avatar.png" width="200"/>

<hr/>

<div id="authorlogos">
    <img src="/images/logos/ditupm.gif" class="authorlogo"/>
    <img src="/images/logos/UPM.jpg" class="authorlogo"/>
    <img src="/images/logos/nodejs.png" class="authorlogo"/>
    <img src="/images/logos/npm.png" class="authorlogo"/>
    <img src="/images/logos/sequelize.png" class="authorlogo"/>
    <img src="/images/logos/SQLite.png" class="authorlogo"/>
    <img src="/images/logos/express.png" class="authorlogo"/>
    <img src="/images/logos/cloudinary.png" class="authorlogo"/>
    <img src="/images/logos/heroku.png" class="authorlogo"/>
    <img src="/images/logos/postgres.png" class="authorlogo"/>
</div>

</body>
</html>
